@import url("https://fonts.googleapis.com/css2?family=Lora&family=Roboto&display=swap");
body {
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: white;
}

.spacer {
  height: 200px;
}
.left {
  width: 25%;
}
.right {
  position: absolute;
  width: 25%;
  text-align: right;
  right: 10px;
}

/* FOOTER */
#footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
}
div#footer > ul {
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
div#footer img {
  vertical-align: middle;
}

/* HEADER */
#header {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
}
#headerul {
  display: none;
}
#header:hover #headerul {
  display: inline;
}
#header li {
  display: inline;
  padding: 10px;
}
#header li:hover {
  background-color: blue;
}
