@import url("https://fonts.googleapis.com/css2?family=Lora&family=Roboto&display=swap");
body {
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: white;
}
h1 {
  font-family: "Lora", serif;
  text-transform: lowercase;
  font-weight: lighter;
  font-size: 50px;
  text-align: center;
  margin-bottom: 0;
}
#psst {
  display: none;
  position: relative;
  top: -60px;
  padding-left: 20px;
}
#profie {
  text-align: center;
}
#profile-pic {
  position: fixed;
  left: 50%;
  top: 20%;
  transform: translate(-300px);
  z-index: 3;
}
.spacer {
  height: 600px;
}
.left {
  width: 25%;
}
.right {
  position: absolute;
  width: 25%;
  text-align: right;
  right: 10px;
}
h2 {
  /* display: none; */
  position: relative;
  font-size: 1000%;
  margin: 0;
  z-index: 2;
}
/* HOVER ON profile */

div#background {
  background-color: blue;
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
}
#profile-pic:hover ~ #background {
  display: inline;
}
/* FOOTER */
#footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
}
div#footer > ul {
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
div#footer img {
  vertical-align: middle;
}

/* HEADER */
#header {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
}
#headerul {
  display: none;
}
#header:hover #headerul {
  display: inline;
}
#header li {
  display: inline;
  padding: 10px;
}
#header li:hover {
  background-color: blue;
}
