@import url("https://fonts.googleapis.com/css2?family=Lora&family=Roboto&display=swap");
div.foreground {
  position: fixed;
  left: 50%;
  top: 70%;
  /* border: 10pt solid black; */
  width: 600px;
  height: 175px;
  margin-left: -300px;
  text-align: center;
}
h1 {
  font-family: "Lora", serif;
  text-transform: lowercase;
  font-weight: lighter;
  font-size: 10px;
}

h1:hover + div.lower {
  display: block;
}
h1:hover ~ div.h4 {
  display: none;
}
div.h4 {
  top: -300%;
  position: absolute;
  font-size: 90pt;
  line-height: 60%;
}
div.lower {
  position: absolute;
  text-transform: uppercase;
  margin: 0pt 10pt 0pt 10pt;
  font-family: "Roboto", sans-serif;
  display: none;
  font-size: 20px;
  top: -280%;
}
